*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
html, body{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(166, 249, 249);
}
h1{
  text-align: center;
  color: rgb(212, 2, 212);
  font-weight: 200;
  border-bottom: 4px dashed rgb(5, 169, 240);
  margin-bottom: 20px;
  font-family: pacifico;
}
.main{
  width: 360px;
  height: 500px;
  border: 4px solid purple;
  border-radius: 28px;
  position: relative;
}
.input{
  height: 140px;
  position: absolute;
  width: 100%;
  background-color: rgb(253, 212, 253);
  border-radius: 24px;
}
.input input{
  width: 100%;
  height: 60px;
  padding: 8px;
  font-size: 30px;
  margin-top: 28px;
  outline: none;
  background: transparent;
  cursor: pointer;
  border: none;
}
.input input::placeholder{
  color: rgb(66, 0, 79);
}
.container{
  position: absolute;
  bottom: 0;
  height: 375px;
  width: 100%;
  padding-top: 20px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(118, 0, 118);
  box-shadow: 0px -1px 10px purple;
  border-radius: 24px;
  background-color: white;
  z-index: 20;
}
button{
  width: 74px;
  height: 60px;
  padding: 6px;
  font-size: 28px;
  margin: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(238, 158, 249);
}
button:hover{
  box-shadow: 0px 0px 0px rgb(238, 158, 249);
  background-color: rgb(245, 219, 252);
}
.operator{
  color: rgb(113, 1, 113);
  font-weight: 600;
}
#equal{
  background-color: rgb(163, 2, 163);
  color: white;
  border-bottom-right-radius: 24px;
}